.comment_from{
    width: 100%;
    margin-top: 1rem;
    min-height: 10rem;
    background-color: white;
    padding:2rem;
}
.comment_user{
    width: 100%;
    display: flex;
}
.comment_user > img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.input_form_comment{
    margin-left: 2rem;
    width: 70%;
}
.user_name > input{
    width: 20rem;
    height: 3rem;
    margin-bottom: 2rem;
    outline: none;
    font-size: 1.5rem;
    padding:0 1rem;
}
.user_content > textarea{
    width: 100%;
    margin-bottom: 2rem;
    outline: none;
    font-size: 1.5rem;
    padding:1rem;
    resize: vertical;
}
.button_comment{
    margin-top: 6rem;
    margin-left: 1rem;
}
.button_comment > button{
    width: 10rem;
    height: 4rem;
    background-color: green;
    color:white;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
}
.button_comment > button:active{
    transform: scale(1.05);
}
.comment_aready{
    width: 100%;
    margin-top: 3rem;
}
.comment_form-user{
    width: 100%;
    display: flex;
    margin-bottom: 2.5rem;
    position: relative;
}
.comment_form-user > img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-top: 0.5rem;
    margin-right: 1rem;
}
.comment-name-content > p{
    margin:0.5rem 0;
    font-size: 1.2rem;
    text-align: justify;
}
.comment-name-content > span{
    font-size: 1.5rem;
    font-weight: 800;
    color:blue;
}
.like-reply{
    width: 100%;
    display: flex;
}
.like-reply > span{
    font-size: 1.2rem;
    margin-right: 1rem;
    font-weight: 700;
    color:blue;
    cursor: pointer;
}   
.like-reply > p{
    margin:0;
    width: 1rem;
}